*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.grandle/*
.gradle
.idea
build
local.properties
selfish-android-java.iml
selfish-android-remake.iml
app.iml
core.iml
captures
Test*Results*.html
*.iml

